@model LaunchPal.ExternalApi.LaunchLibrary.JsonObject.Launch

<div ng-controller="LaunchCtrl" ng-init="startTimer()">
    <div class="text-center">
        <h1 ng-cloak>{{Title}}</h1>
    </div>

    <div ng-view></div>
</div>


